
    <h1>Club</h1>

    <table>
        <tbody>
            <tr>
                <th>ref</th>
                <td>{{ club.ref }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ club.createdAt ? club.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>



   